Repository csi-addons/kubernetes-csi-addons, pull requests merged in 2022-01, with the labels that each got.

#32 Implementation of Reclaim Space operation
  sidecar/internal/service/reclaimspace.go
  sidecar/main.go
  vendor/github.com/kubernetes-csi/csi-lib-utils/accessmodes/access_modes.go
  vendor/modules.txt
Labels: vendor

#85 controller: fix reclaimspacejob reason bug
  controllers/reclaimspacejob_controller.go
  controllers/reclaimspacejob_controller_test.go
Labels: bug

#81 doc: update year in hack/boilerplate.go.txt to 2022
  api/v1alpha1/zz_generated.deepcopy.go
  hack/boilerplate.go.txt
Labels: api

#84 controller: add ReclaimSpaceCronJob controller
  PROJECT
  cmd/manager/main.go
  config/rbac/role.yaml
  controllers/reclaimspacecronjob_controller.go
  controllers/reclaimspacecronjob_controller_test.go
  go.mod
  go.sum
  vendor/github.com/robfig/cron/v3/.gitignore
  vendor/github.com/robfig/cron/v3/.travis.yml
  vendor/github.com/robfig/cron/v3/LICENSE
  vendor/github.com/robfig/cron/v3/README.md
  vendor/github.com/robfig/cron/v3/chain.go
  vendor/github.com/robfig/cron/v3/constantdelay.go
  vendor/github.com/robfig/cron/v3/cron.go
  vendor/github.com/robfig/cron/v3/doc.go
  vendor/github.com/robfig/cron/v3/logger.go
  vendor/github.com/robfig/cron/v3/option.go
  vendor/github.com/robfig/cron/v3/parser.go
  vendor/github.com/robfig/cron/v3/spec.go
  vendor/modules.txt
Labels: vendor

#97 sidecar/reclaimspace: fix staging path and volCaps for raw block pvc
  internal/sidecar/service/reclaimspace.go
  sidecar/main.go
Labels: bug, sidecar

#98 controller: make reclaimspace.status.reclaimedspace a pointer
  api/v1alpha1/reclaimspacejob_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/reclaimspacejob_controller.go
Labels: api
