Repository csi-addons/kubernetes-csi-addons, pull requests merged in 2024-08, with the labels that each got.

#625 Remove special handling of targetpath for deprecated Kubernetes 1.24
  internal/sidecar/service/reclaimspace.go
Labels: vendor

#635 Include capabilities in CSIAddonsNode status
  api/csiaddons/v1alpha1/csiaddonsnode_types.go
  api/csiaddons/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/csiaddons.openshift.io_csiaddonsnodes.yaml
  deploy/controller/crds.yaml
  internal/controller/csiaddons/csiaddonsnode_controller.go
  internal/controller/csiaddons/csiaddonsnode_controller_test.go
Labels: api

#650 replication: move conditions to api
  api/replication.storage/v1alpha1/volumereplication_types.go
  internal/controller/replication.storage/status.go
Labels: api

#655 deploy: remove extra prefix: csi-addons-
  config/default/kustomization.yaml
Labels: bug
